.sidebar {
  float: left;

}

.sidebar ul{
  list-style: none;
}

.sidebar p {
  padding-left: 40px;
  text-decoration: underline;

}

body {
  background-color: white;
}

.banner {
  
}
.float-right {
  float: right;
}
#float-left {
  float: left;
}

img {
  padding: 10px;
}

#header-text {
  font-size: small;
  float: left;
}

#top-right-header {
  float: right;
  padding-bottom: 30px;
}
.intro{
  float: right;
  
}

.header-box {
  background-color: lightgrey;
  height: 150px;
  width: 1140px;
  margin: 10px;

}
